#subheadingBg{
    background-color: #1c3988;
    height: 100px;
}

.upcoming {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.4rem;
}

.link {
    text-decoration: none;
    color: #fff;
}